#chat-view
  = render partial: "shared/sidebar"

  #chat
    .chat-header
      .chat-header__group-name Group Name

      .chat-header__edit-btn.button
        = link_to "Edit", ""

      .chat-header__group-members MEMBER: User name 1

    .chat-border

    .chat-content
      .chat-content__message-list
        .chat-message
          .chat-message__user-name
            User name 1
            %span.chat-message__date-time
              2017/05/13 14:40:00
          .chat-message__message
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac arcu aliquam, consequat mauris eget, facilisis mi.

        .chat-message
          .chat-message__user-name
            User name 2
            %span.chat-message__date-time
              2017/05/13 14:45:00
          .chat-message__message
            Sed dictum dolor vitae nunc accumsan, a pharetra metus venenatis. Etiam cursus massa ut magna dignissim, in feugiat urna interdum. Praesent vitae tortor eget est elementum consequat sit amet ut ante.

        .chat-message
          .chat-message__user-name
            User name 1
            %span.chat-message__date-time
              2017/05/13 14:50:00
          .chat-message__message
            Nullam eleifend eget nulla non porta. Nulla auctor metus at bibendum suscipit. Nunc non ipsum et enim tempor aliquet ac viverra sapien.

    .chat-input
      %form{action: "", method: "post"}
        .chat-input__input-box
          %input{type: "text", name: "input", placeholder: "Type a message", class: "chat-input__input-field"}
          = link_to (fa_icon "picture-o"), "", class: "chat-input__choose-image-btn"

        %input{type: "submit", value: "Send", class: "chat-input__send-btn"}
